# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entorno virtual
env3/
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Variables sensibles
.env

# Referencias temporales
referencias_antiguas/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Node
node_modules/

# Bases SQLite extra
*.sqlite3